.tpl-component-netcat-navigation-link.tpl-template-links-buttons ul { margin:0;padding:0; }
.tpl-component-netcat-navigation-link.tpl-template-links-buttons li.no-bullet { list-style: none; }
.tpl-component-netcat-navigation-link.tpl-template-links-buttons a, .tpl-component-netcat-navigation-link.tpl-template-links-buttons button { cursor: pointer; }
