.tpl-component-netcat-navigation-tgb .object-item { text-decoration: none; }
.tpl-component-netcat-navigation-tgb .object-item .item-image { position: relative; }
.tpl-component-netcat-navigation-tgb .object-item .item-image::before { display: block; content: ""; width: 100%; padding-top: var(--tpl-object-item--image-padding-top); }
.tpl-component-netcat-navigation-tgb .object-item .item-image .image { position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden; }
.tpl-component-netcat-navigation-tgb .object-item .item-image .image img { max-width: 100%; width: 100%; height: 100%; object-fit: cover; }
.tpl-component-netcat-navigation-tgb .object-item .item-image * { width: 100%; height: 100%; }
.tpl-component-netcat-navigation-tgb .object-item .item-info { padding-left: var(--tpl-object-item--text-padding, 0px); padding-right: var(--tpl-object-item--text-padding, 0px); color: var(--tpl-color-foreground-main); }
