& { min-height: 60px; }
.object-item a { display: block; }
.object-item .item-image { position: relative; }
.object-item .item-image::before { display: block; content: ""; width: 100%; padding-top: var(--tpl-object-item--image-padding-top); }
.object-item .item-image * { width: 100%; height: 100%; }
.object-item .item-image .image { position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden; }
.object-item .item-image .image * { width: 100%; height: 100%; }
.object-item .item-image .image img { max-width: 100%; width: 100%; height: 100%; object-fit: cover; }
.object-item .item-category { color: var(--tpl-color-foreground-accent-dark); }
.object-item .item-price { font-weight: 600; white-space: nowrap; }
.object-item .item-announce { padding-top: .5rem; padding-bottom: .5rem; }
.object-item .item-padding { padding-left: var(--tpl-object-item--text-padding, 0px); padding-right: var(--tpl-object-item--text-padding, 0px); }
.object-item-full .item-category { padding-top: .5rem; color: var(--tpl-color-foreground-accent-dark); }
.object-item-full .item-cover { position: relative; }
.object-item-full .item-cover::before { display: block; content: ""; width: 100%; padding-top: var(--tpl-object-item--image-padding-top); }
.object-item-full .item-cover .image { position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden; }
.object-item-full .item-cover .image img { max-width: 100%; width: 100%; height: 100%; object-fit: cover; }
.object-item-full .item-cover .image * { width: 100%; height: 100%; }
.object-item-full .item-cover * { width: 100%; height: 100%; }
.object-item-full .item-text { margin-top: 2rem; margin-bottom: 2rem; }
.object-item-full .item-slider { display: flex; align-items: flex-start; }
.object-item-full .item-slider .slider-big-image { width: 100%; margin-bottom: 7px; position: relative; overflow: hidden; }
.object-item-full .item-slider .slider-big-image::before { display: block; content: ""; width: 100%; padding-top: var(--tpl-object-item--image-padding-top, 50%); }
.object-item-full .item-slider .slider-big-image .image { position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden; }
.object-item-full .item-slider .slider-big-image .image * { width: 100%; height: 100%; }
.object-item-full .item-slider .slider-big-image .image img { max-width: 100%; width: 100%; height: 100%; object-fit: cover; }
.object-item-full .item-slider .slider-preview-list { width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start; }
.object-item-full .item-slider .slider-preview-list a { display: inline-block; margin-bottom: 6px; position: relative; overflow: hidden; }
.object-item-full .item-slider .slider-preview-list a::before { display: block; content: ""; width: 100%; padding-top: var(--tpl-object-item--image-padding-top, 50%); }
.object-item-full .item-slider .slider-preview-list a span { position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden; }
.object-item-full .item-slider .slider-preview-list a span img { max-width: 100%; width: 100%; height: 100%; object-fit: cover; }
.object-item-full .item-slider .slider-preview-list a.active { position: relative; }
.object-item-full .item-slider .slider-preview-list a.active:after { position: absolute; content: ""; left: 0; right: 0; top: 0; bottom: 0; border: 5px solid var(--tpl-color-brand); }
.object-item-full .item-slider[min-width~="900px"] .slider-big-image { margin-right: 6px; }
.object-item-full .item-slider[min-width~="900px"] .slider-preview-list { flex-direction: row; width: 32%; }
.object-item-full .item-slider[min-width~="900px"] .slider-preview-list a { width: 50%; }
.object-item-full .item-slider[min-width~="900px"] .slider-preview-list a:nth-child(2n+1) span { padding-right: 3px; }
.object-item-full .item-slider[min-width~="900px"] .slider-preview-list a:nth-child(2n) span { padding-left: 3px; }
.object-item-full .item-slider[max-width~="900px"][min-width~="500px"] { flex-direction: column; }
.object-item-full .item-slider[max-width~="900px"][min-width~="500px"] .slider-preview-list a { width: 33.33%; }
.object-item-full .item-slider[max-width~="900px"][min-width~="500px"] .slider-preview-list a:nth-child(3n+2) span { padding-right: 6px; padding-left: 6px; }
.object-item-full .item-slider[max-width~="500px"] { flex-direction: column; }
.object-item-full .item-slider[max-width~="500px"] .slider-preview-list a { width: 50%; }
.object-item-full .item-slider[max-width~="500px"] .slider-preview-list a:nth-child(3n+2) span { padding: 0; }
.object-item-full .item-slider[max-width~="500px"] .slider-preview-list a:nth-child(2n+1) span { padding-right: 3px; }
.object-item-full .item-slider[max-width~="500px"] .slider-preview-list a:nth-child(2n) span { padding-left: 3px; }
