.current-models__container
  h2.current-models__title Актульные модели
  .current-models__slider
    .current-models__swiper
      article.current-models__slide.product-card
        .product-card__actions
          .product-card__action.product-card__action_discount
            +icon('discount').i-discount(aria-label="Скидка")
        +image('img/goods/4.jpg', 'alt').product-card__img.swiper-lazy
        .product-card__info
          a.product-card__title(href="#") Шёлковый костюм в красном цвете
          .product-card__prices
            .product-card__price_current
              span 13900
              |  RUB
            s.product-card__price_old
              span 15900
              |  RUB
      article.current-models__slide.product-card
        +image('img/goods/2.jpg', 'alt').product-card__img.swiper-lazy
        .product-card__info
          a.product-card__title(href="#") Шёлковый костюм в красном цвете
          .product-card__prices
            .product-card__price_current
              span 13900
              |  RUB
      article.current-models__slide.product-card
        +image('img/goods/3.jpg', 'alt').product-card__img.swiper-lazy
        .product-card__info
          a.product-card__title(href="#") Шёлковый костюм в красном цвете
          .product-card__prices
            .product-card__price_current
              span 13900
              |  RUB
      article.current-models__slide.product-card
        +image('img/goods/1.jpg', 'alt').product-card__img.swiper-lazy
        .product-card__info
          a.product-card__title(href="#") Шёлковый костюм в красном цвете
          .product-card__prices
            .product-card__price_current
              span 13900
              |  RUB
      article.current-models__slide.product-card
        .product-card__actions
          .product-card__action.product-card__action_discount
            +icon('discount').i-discount(aria-label="Скидка")
        +image('img/goods/1.jpg', 'alt').product-card__img.swiper-lazy
        .product-card__info
          a.product-card__title(href="#") Шёлковый костюм в красном цвете
          .product-card__prices
            .product-card__price_current
              span 13900
              |  RUB
            s.product-card__price_old
              span 15900
              |  RUB
      article.current-models__slide.product-card
        +image('img/goods/2.jpg', 'alt').product-card__img.swiper-lazy
        .product-card__info
          a.product-card__title(href="#") Шёлковый костюм в красном цвете
          .product-card__prices
            .product-card__price_current
              span 13900
              |  RUB
      article.current-models__slide.product-card
        +image('img/goods/3.jpg', 'alt').product-card__img.swiper-lazy
        .product-card__info
          a.product-card__title(href="#") Шёлковый костюм в красном цвете
          .product-card__prices
            .product-card__price_current
              span 13900
              |  RUB
      article.current-models__slide.product-card
        +image('img/goods/3.jpg', 'alt').product-card__img.swiper-lazy
        .product-card__info
          a.product-card__title(href="#") Шёлковый костюм в красном цвете
          .product-card__prices
            .product-card__price_current
              span 13900
              |  RUB

    button.current-models__button-prev
      +icon('arrow-long-right').i-arrow-long-left
    button.current-models__button-next
      +icon('arrow-long-right').i-arrow-long-right
    .current-models__scrollbar.swiper-scrollbar
  a.btn.btn_white.btn-shopping.current-models__btn-shopping(href="#") Перейти к покупкам