  article.current-models__slide.product-card
    .product-card__actions
      .product-card__discount
        //- +icon('discount').i-discount(aria-label="Скидка")
        //- +image('img/goods/1.jpg', 'alt').product-card__img
        .product-card__info
          a.product-card__title(href="#") Шёлковый костюм в красном цвете
          .product-card__prices
            .product-card__price_current
              span 13900
              |  RUB
            s.product-card__price_old
              span 15900
              |  RUB