.socials__items
  a.socials__item(href="#" target="_blank")
    +icon('tg').i-tg(style='')
  a.socials__item(href="#" target="_blank")
    +icon('vk').i-vk(style='')
  a.socials__item(href="#" target="_blank")
    +icon('whatsapp').i-whatsapp(style='')