.welcome__container
  h1.welcome__title 
    |Костюмы для дома.
    br
    |Особый случай каждый день.
  .welcome__items 
    a.welcome__item(href="#" data-bg-multi="linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('img/more-models.jpg')")
      .welcome__item-title Смотреть все модели
      +icon('arrow-long-right').i-arrow-long-right(style='fill:currentColor;')
    a.welcome__item(href="#" data-bg-multi="linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('img/costumes.jpg')")
      .welcome__item-title 
        |Костюмы
        br
        |с юбкой
      +icon('arrow-long-right').i-arrow-long-right(style='fill:currentColor;')
    a.welcome__item(href="#" data-bg-multi="linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('img/about-me.jpg')")
      .welcome__item-title 
        |История
        br
        |о нас 
      +icon('arrow-long-right').i-arrow-long-right(style='fill:currentColor;')
