.popup.popup-registration#registration(aria-hidden='true')
  .popup__wrapper.popup-registration__wrapper
    .popup__content.popup-registration__content
      button.popup__close(data-close aria-label="Закрыть")
        +icon('close')(aria-hidden)