.breadcrumbs { margin: 0; padding: 0; display: flex; flex-direction: row; align-items: center; flex-wrap: wrap; }
.breadcrumbs li { list-style: none; }
.breadcrumbs li svg { height: 1em; width: 1em; }
.breadcrumbs li svg path { fill: var(--icon-color); }
.breadcrumbs li.divider { margin-left: var(--divider-space); margin-right: var(--divider-space); }
