/* <block37> */
@media (max-width: 699.99px) {
.tpl-container-37 .tpl-container-37-list {
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
margin-bottom: -20px;
margin-right: -20px;
transform: translateY(-20px) translateX(-20px);
justify-content: space-between;
}
.tpl-container-37 .tpl-container-37-list > * {
margin-top: 20px;
margin-left: 20px;
}
}
@media (min-width: 700px) {
.tpl-container-37 .tpl-container-37-list {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: flex-start;
justify-content: space-between;
}
}
/* </block37> */
