/* <block15> */
.tpl-block-15 .tpl-text-default, .tpl-block-15, .tpl-block-15 .tpl-text-default-paragraph {font-weight:500;}
.tpl-block-15 .tpl-text-default-smallest, .tpl-block-15 .tpl-text-default-smallest-paragraph {font-weight:500;}
.tpl-block-15 .tpl-text-default-smaller, .tpl-block-15 .tpl-text-default-smaller-paragraph {font-weight:500;}
.tpl-block-15 .tpl-text-default-small, .tpl-block-15 .tpl-text-default-small-paragraph {font-weight:500;}
.tpl-block-15 .tpl-text-default-big, .tpl-block-15 .tpl-text-default-big-paragraph {font-weight:500;}
.tpl-block-15 .tpl-text-default-bigger, .tpl-block-15 .tpl-text-default-bigger-paragraph {font-weight:500;}
.tpl-block-15 .tpl-text-default-biggest, .tpl-block-15 .tpl-text-default-biggest-paragraph {font-weight:500;}
.tpl-block-15 .tpl-block-15-list > *:not(.tpl-mixin-padding-pass-down) { padding: 10px 0 10px 0; }
.tpl-block-15 .tpl-block-15-list > *.tpl-mixin-padding-pass-down > .tpl-mixin-padding-target { padding: 10px 0 10px 0; }
/* </block15> */
