/* <block23> */
@media (max-width: 599.99px) {

.tpl-block-23:not([data-nc-b1]):not([data-nc-b2]) {
    display: none;
}

.tpl-block-23 {
    visibility: hidden !important;
    overflow: hidden !important;
    height: 0 !important;
    min-height: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
}
@media (max-width: 949.99px) {
.tpl-block-23 .nc-field, .tpl-block-23 .tpl-block-input, .tpl-block-23 .tpl-component-netcat-module-requests-request .tpl-block-input {  }
.tpl-block-23 .nc-field-caption, .tpl-block-23 .tpl-caption, .tpl-block-23 .tpl-component-netcat-module-requests-request .tpl-caption {  }
.tpl-block-23 input[type='color'], .tpl-block-23 input[type='date'], .tpl-block-23 input[type='datetime-local'], .tpl-block-23 input[type='email'], .tpl-block-23 input[type='month'], .tpl-block-23 input[type='number'], .tpl-block-23 input[type='password'], .tpl-block-23 input[type='search'], .tpl-block-23 input[type='tel'], .tpl-block-23 input[type='text'], .tpl-block-23 input[type='time'], .tpl-block-23 input[type='url'], .tpl-block-23 input[type='week'], .tpl-block-23 input[type='file'], .tpl-block-23 select:not([dummy-selector]), .tpl-block-23 textarea:not([dummy-selector]), .tpl-block-23 input[type='color']:hover, .tpl-block-23 input[type='date']:hover, .tpl-block-23 input[type='datetime-local']:hover, .tpl-block-23 input[type='email']:hover, .tpl-block-23 input[type='month']:hover, .tpl-block-23 input[type='number']:hover, .tpl-block-23 input[type='password']:hover, .tpl-block-23 input[type='search']:hover, .tpl-block-23 input[type='tel']:hover, .tpl-block-23 input[type='text']:hover, .tpl-block-23 input[type='time']:hover, .tpl-block-23 input[type='url']:hover, .tpl-block-23 input[type='week']:hover, .tpl-block-23 input[type='file']:hover, .tpl-block-23 select:not([dummy-selector]):hover, .tpl-block-23 textarea:not([dummy-selector]):hover, .tpl-block-23 input[type='color']:focus, .tpl-block-23 input[type='date']:focus, .tpl-block-23 input[type='datetime-local']:focus, .tpl-block-23 input[type='email']:focus, .tpl-block-23 input[type='month']:focus, .tpl-block-23 input[type='number']:focus, .tpl-block-23 input[type='password']:focus, .tpl-block-23 input[type='search']:focus, .tpl-block-23 input[type='tel']:focus, .tpl-block-23 input[type='text']:focus, .tpl-block-23 input[type='time']:focus, .tpl-block-23 input[type='url']:focus, .tpl-block-23 input[type='week']:focus, .tpl-block-23 input[type='file']:focus, .tpl-block-23 select:not([dummy-selector]):focus, .tpl-block-23 textarea:not([dummy-selector]):focus { border-width:1px;border-style:solid;border-radius:0px;padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px; }
.tpl-block-23 .tpl-block-search-form .tpl-block-input + br { display: none; }
.tpl-block-23 .tpl-block-search-form .tpl-block-input-row { display: block; margin-bottom: .5em }
.tpl-block-23 .nc-field-caption { display: block; }
.tpl-block-23 .tpl-block-search-form .tpl-caption { display: inline-block; }
}
/* </block23> */
