/* <block14> */
@media (max-width: 949.99px) {
.tpl-block-14 { margin-right: 30px !important; --tpl-mixin-margin-right: 30px }
.tpl-block-14 * { --tpl-mixin-margin-left: 0px; --tpl-mixin-margin-right: 0px; }
}
@media (min-width: 950px) {
.tpl-block-14 { margin-right: 40px !important; --tpl-mixin-margin-right: 40px }
.tpl-block-14 * { --tpl-mixin-margin-left: 0px; --tpl-mixin-margin-right: 0px; }
}
@media (max-width: 949.99px) {
.tpl-block-14 { width: 100px !important; flex-shrink: 0; flex-grow: 0;  max-width: calc(100% - var(--tpl-mixin-margin-left, 0px) - var(--tpl-mixin-margin-right, 0px) - var(--tpl-mixin-layout-child-on-left, 0) * var(--tpl-mixin-layout-child-indent-left, 0px)) !important; }}
@media (min-width: 950px) {
.tpl-block-14 { width: 180px !important; flex-shrink: 0; flex-grow: 0;  max-width: calc(100% - var(--tpl-mixin-margin-left, 0px) - var(--tpl-mixin-margin-right, 0px) - var(--tpl-mixin-layout-child-on-left, 0) * var(--tpl-mixin-layout-child-indent-left, 0px)) !important; }}
/* </block14> */
