/* <block19> */
@media (max-width: 1099.99px) {

.tpl-block-19:not([data-nc-b1]):not([data-nc-b2]) {
    display: none;
}

.tpl-block-19 {
    visibility: hidden !important;
    overflow: hidden !important;
    height: 0 !important;
    min-height: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
}
.tpl-block-19 { margin-left: auto !important }
.tpl-block-19 * { --tpl-mixin-margin-left: 0px; --tpl-mixin-margin-right: 0px; }
/* </block19> */
