/* <block34> */
@media (max-width: 999.99px) {

.tpl-container-34:not([data-nc-b1]):not([data-nc-b2]) {
    display: none;
}

.tpl-container-34 {
    visibility: hidden !important;
    overflow: hidden !important;
    height: 0 !important;
    min-height: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
}
.tpl-container-34 { width: 340px !important; flex-shrink: 0; flex-grow: 0;  max-width: calc(100% - var(--tpl-mixin-margin-left, 0px) - var(--tpl-mixin-margin-right, 0px) - var(--tpl-mixin-layout-child-on-left, 0) * var(--tpl-mixin-layout-child-indent-left, 0px)) !important; }
/* </block34> */
