/* <block10> */
.tpl-block-10 .tpl-block-10-list {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
justify-content: flex-start;
}
.tpl-block-10 .tpl-block-10-list > * {
margin-left: 10px;
}
.tpl-block-10 .tpl-block-10-list > *:first-child {
margin-left: 0;
}
.tpl-block-10 .tpl-text-default, .tpl-block-10, .tpl-block-10 .tpl-text-default-paragraph {font-size:50px;}
.tpl-block-10 .tpl-text-default-smallest, .tpl-block-10 .tpl-text-default-smallest-paragraph {font-size:35px;}
.tpl-block-10 .tpl-text-default-smaller, .tpl-block-10 .tpl-text-default-smaller-paragraph {font-size:40px;}
.tpl-block-10 .tpl-text-default-small, .tpl-block-10 .tpl-text-default-small-paragraph {font-size:45px;}
.tpl-block-10 .tpl-text-default-big, .tpl-block-10 .tpl-text-default-big-paragraph {font-size:60px;}
.tpl-block-10 .tpl-text-default-bigger, .tpl-block-10 .tpl-text-default-bigger-paragraph {font-size:70px;}
.tpl-block-10 .tpl-text-default-biggest, .tpl-block-10 .tpl-text-default-biggest-paragraph {font-size:80px;}
/* </block10> */
