/* <block16> */
.tpl-block-16 .tpl-text-default, .tpl-block-16, .tpl-block-16 .tpl-text-default-paragraph {font-weight:500;}
.tpl-block-16 .tpl-text-default-smallest, .tpl-block-16 .tpl-text-default-smallest-paragraph {font-weight:500;}
.tpl-block-16 .tpl-text-default-smaller, .tpl-block-16 .tpl-text-default-smaller-paragraph {font-weight:500;}
.tpl-block-16 .tpl-text-default-small, .tpl-block-16 .tpl-text-default-small-paragraph {font-weight:500;}
.tpl-block-16 .tpl-text-default-big, .tpl-block-16 .tpl-text-default-big-paragraph {font-weight:500;}
.tpl-block-16 .tpl-text-default-bigger, .tpl-block-16 .tpl-text-default-bigger-paragraph {font-weight:500;}
.tpl-block-16 .tpl-text-default-biggest, .tpl-block-16 .tpl-text-default-biggest-paragraph {font-weight:500;}.tpl-block-16 { border-top: 1px solid rgba(209, 233, 255, 1);border-right: 1px solid rgba(209, 233, 255, 1);border-left: 1px solid rgba(209, 233, 255, 1);  }
.tpl-block-16 .tpl-block-16-list {  }

.tpl-block-16 .tpl-block-16-list > *:not(.tpl-mixin-padding-pass-down) { padding: 20px 20px 20px 40px; }
.tpl-block-16 .tpl-block-16-list > *.tpl-mixin-padding-pass-down > .tpl-mixin-padding-target { padding: 20px 20px 20px 40px; }.tpl-block-16 .tpl-block-16-list > * { border-bottom: 1px solid rgb(209, 233, 255);  }
/* </block16> */
