/* <block25> */
@media (max-width: 999.99px) {
}
@media (min-width: 1000px) {

.tpl-block-25:not([data-nc-b1]):not([data-nc-b2]) {
    display: none;
}

.tpl-block-25 {
    visibility: hidden !important;
    overflow: hidden !important;
    height: 0 !important;
    min-height: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
}
@media (max-width: 599.99px) {
.tpl-block-25 > .tpl-block-list:not(.tpl-mixin-padding-pass-down) { padding: 0 0 10px 0; }
.tpl-block-25 > .tpl-block-list.tpl-mixin-padding-pass-down > .tpl-mixin-padding-target { padding: 0 0 10px 0; }}
@media (min-width: 600px) {
.tpl-block-25 > .tpl-block-list:not(.tpl-mixin-padding-pass-down) { padding: 0 0 15px 0; }
.tpl-block-25 > .tpl-block-list.tpl-mixin-padding-pass-down > .tpl-mixin-padding-target { padding: 0 0 15px 0; }}
/* </block25> */
