/* <block99> */
@media (max-width: 849.99px) {
.tpl-block-99 .tpl-block-99-list { display: flex; flex-direction: row; flex-wrap: wrap; }
.tpl-block-99 .tpl-block-99-list > * {
    width: calc(100.0000% - 0.0000px);
    margin: 20.0px 10.0px 0;
    align-self: flex-start;
}
.tpl-block-99 .tpl-block-99-list > *:nth-child(1n) { margin-right: 0 }
.tpl-block-99 .tpl-block-99-list > *:nth-child(1n+1) { margin-left: 0 }
.tpl-block-99 .tpl-block-99-list > *:nth-child(-n+1) { margin-top: 0; }
}
@media (min-width: 850px) {
.tpl-block-99 .tpl-block-99-list { display: flex; flex-direction: row; flex-wrap: wrap; }
.tpl-block-99 .tpl-block-99-list > * {
    width: 50.0000%;
    margin: 0 0 0;
    align-self: flex-start;
}
.tpl-block-99 .tpl-block-99-list > *:nth-child(2n) { margin-right: 0 }
.tpl-block-99 .tpl-block-99-list > *:nth-child(2n+1) { margin-left: 0 }
.tpl-block-99 .tpl-block-99-list > *:nth-child(-n+2) { margin-top: 0; }
}
.tpl-block-99 { margin-top: 40px; margin-left: -30px !important; margin-right: -30px !important; --tpl-mixin-margin-left: -30px; --tpl-mixin-margin-right: -30px }
.tpl-block-99 * { --tpl-mixin-margin-left: 0px; --tpl-mixin-margin-right: 0px; }
/* </block99> */
