/* <block86> */
@media (max-width: 949.99px) {
}
@media (min-width: 950px) {
.tpl-container-86 .tpl-container-86-list { display: flex; flex-direction: row; flex-wrap: wrap; }
.tpl-container-86 .tpl-container-86-list > * {
    width: calc(50.0000% - 18.0000px);
    margin: 0 18.0px 0;
    align-self: flex-start;
}
.tpl-container-86 .tpl-container-86-list > *:nth-child(2n) { margin-right: 0 }
.tpl-container-86 .tpl-container-86-list > *:nth-child(2n+1) { margin-left: 0 }
.tpl-container-86 .tpl-container-86-list > *:nth-child(-n+2) { margin-top: 0; }
}
@media (max-width: 949.99px) {
}
@media (min-width: 950px) {
}
/* </block86> */
