/* <block98> */
.tpl-block-98 > .tpl-block-list:not(.tpl-mixin-padding-pass-down) { padding: 40px 0 0 0; }
.tpl-block-98 > .tpl-block-list.tpl-mixin-padding-pass-down > .tpl-mixin-padding-target { padding: 40px 0 0 0; }.tpl-block-98 { text-align: center; }
/* </block98> */
