/* <block126> */
.tpl-block-126[data-nc-b2~="480"] .tpl-block-126-list { display: flex; flex-direction: row; flex-wrap: wrap; }
.tpl-block-126[data-nc-b2~="480"] .tpl-block-126-list > * {
    width: calc(100.0000% - 0.0000px);
    margin: 20.0px 10.0px 0;
    align-self: flex-start;
}
.tpl-block-126[data-nc-b2~="480"] .tpl-block-126-list > *:nth-child(1n) { margin-right: 0 }
.tpl-block-126[data-nc-b2~="480"] .tpl-block-126-list > *:nth-child(1n+1) { margin-left: 0 }
.tpl-block-126[data-nc-b2~="480"] .tpl-block-126-list > *:nth-child(-n+1) { margin-top: 0; }
.tpl-block-126[data-nc-b1~="480"] .tpl-block-126-list { display: flex; flex-direction: row; flex-wrap: wrap; }
.tpl-block-126[data-nc-b1~="480"] .tpl-block-126-list > * {
    width: calc(50.0000% - 10.0000px);
    margin: 20.0px 10.0px 0;
    align-self: flex-start;
}
.tpl-block-126[data-nc-b1~="480"] .tpl-block-126-list > *:nth-child(2n) { margin-right: 0 }
.tpl-block-126[data-nc-b1~="480"] .tpl-block-126-list > *:nth-child(2n+1) { margin-left: 0 }
.tpl-block-126[data-nc-b1~="480"] .tpl-block-126-list > *:nth-child(-n+2) { margin-top: 0; }
/* </block126> */
