/* <block96> */
.tpl-block-96 .tpl-block-96-list:not(.swiper-wrapper) > *:not(:first-child) {
    display: none;
}

.tpl-block-96 {
    --swiper-theme-color: var(--tpl-color-foreground-accent, #007aff);
}

.tpl-block-96 > .tpl-block-list {
    display: block;
}

.tpl-block-96 .tpl-block-96-list .swiper-pagination-bullet {
    background-color: var(--tpl-color-foreground-main-lightest, #000);
}

.tpl-block-96 .tpl-block-96-list .swiper-pagination-bullet-active, 
.tpl-block-96 .tpl-block-96-list .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: var(--tpl-color-foreground-accent, #007aff);
}

.tpl-block-96 .tpl-block-96-list .swiper-scrollbar {
    background-color: var(--tpl-color-foreground-main-lightest, rgba(0,0,0,0.1));
}

.tpl-block-96 .tpl-block-96-list .swiper-scrollbar-drag {
    background-color: var(--tpl-color-foreground-accent, rgba(0,0,0,0.5));
}

.swiper-nc-auto-slides-per-view > .swiper-slide {
    width: auto;
    min-width: 100px;
}
@media (max-width: 1279.99px) {
.tpl-block-96 { margin-top: -20px; margin-left: -20px !important; margin-right: -20px !important; --tpl-mixin-margin-left: -20px; --tpl-mixin-margin-right: -20px }
.tpl-block-96 * { --tpl-mixin-margin-left: 0px; --tpl-mixin-margin-right: 0px; }
}
@media (min-width: 1280px) {
.tpl-block-96 { margin-top: -20px; margin-left: -30px !important; margin-right: -30px !important; --tpl-mixin-margin-left: -30px; --tpl-mixin-margin-right: -30px }
.tpl-block-96 * { --tpl-mixin-margin-left: 0px; --tpl-mixin-margin-right: 0px; }
}
/* </block96> */
