/* <block94> */
@media (max-width: 849.99px) {
.tpl-block-94 .tpl-block-94-list { display: flex; flex-direction: row; flex-wrap: wrap; }
.tpl-block-94 .tpl-block-94-list > * {
    width: calc(50.0000% - 10.0000px);
    margin: 20.0px 10.0px 0;
    align-self: flex-start;
}
.tpl-block-94 .tpl-block-94-list > *:nth-child(2n) { margin-right: 0 }
.tpl-block-94 .tpl-block-94-list > *:nth-child(2n+1) { margin-left: 0 }
.tpl-block-94 .tpl-block-94-list > *:nth-child(-n+2) { margin-top: 0; }
}
@media (min-width: 850px) {
.tpl-block-94 .tpl-block-94-list { display: flex; flex-direction: row; flex-wrap: wrap; }
.tpl-block-94 .tpl-block-94-list > * {
    width: calc(25.0000% - 15.0000px);
    margin: 20.0px 10.0px 0;
    align-self: flex-start;
}
.tpl-block-94 .tpl-block-94-list > *:nth-child(4n) { margin-right: 0 }
.tpl-block-94 .tpl-block-94-list > *:nth-child(4n+1) { margin-left: 0 }
.tpl-block-94 .tpl-block-94-list > *:nth-child(-n+4) { margin-top: 0; }
}
.tpl-block-94 > .tpl-block-list:not(.tpl-mixin-padding-pass-down) { padding: 0 0 20px 0; }
.tpl-block-94 > .tpl-block-list.tpl-mixin-padding-pass-down > .tpl-mixin-padding-target { padding: 0 0 20px 0; }.tpl-block-94 { text-align: center; }
/* </block94> */
