/* <block71> */
@media (max-width: 479.99px) {
.tpl-block-71 .tpl-block-71-list { display: flex; flex-direction: row; flex-wrap: wrap; }
.tpl-block-71 .tpl-block-71-list > * {
    width: calc(50.0000% - 5.0000px);
    margin: 10.0px 5.0px 0;
    align-self: flex-start;
}
.tpl-block-71 .tpl-block-71-list > *:nth-child(2n) { margin-right: 0 }
.tpl-block-71 .tpl-block-71-list > *:nth-child(2n+1) { margin-left: 0 }
.tpl-block-71 .tpl-block-71-list > *:nth-child(-n+2) { margin-top: 0; }
}
@media (min-width: 480px) and (max-width: 599.99px) {
.tpl-block-71 .tpl-block-71-list { display: flex; flex-direction: row; flex-wrap: wrap; }
.tpl-block-71 .tpl-block-71-list > * {
    width: calc(33.3333% - 6.6667px);
    margin: 10.0px 5.0px 0;
    align-self: flex-start;
}
.tpl-block-71 .tpl-block-71-list > *:nth-child(3n) { margin-right: 0 }
.tpl-block-71 .tpl-block-71-list > *:nth-child(3n+1) { margin-left: 0 }
.tpl-block-71 .tpl-block-71-list > *:nth-child(-n+3) { margin-top: 0; }
}
@media (min-width: 600px) and (max-width: 899.99px) {
.tpl-block-71 .tpl-block-71-list { display: flex; flex-direction: row; flex-wrap: wrap; }
.tpl-block-71 .tpl-block-71-list > * {
    width: calc(25.0000% - 7.5000px);
    margin: 10.0px 5.0px 0;
    align-self: flex-start;
}
.tpl-block-71 .tpl-block-71-list > *:nth-child(4n) { margin-right: 0 }
.tpl-block-71 .tpl-block-71-list > *:nth-child(4n+1) { margin-left: 0 }
.tpl-block-71 .tpl-block-71-list > *:nth-child(-n+4) { margin-top: 0; }
}
@media (min-width: 900px) {
.tpl-block-71 .tpl-block-71-list { display: flex; flex-direction: row; flex-wrap: wrap; }
.tpl-block-71 .tpl-block-71-list > * {
    width: calc(16.6667% - 8.3333px);
    margin: 10.0px 5.0px 0;
    align-self: flex-start;
}
.tpl-block-71 .tpl-block-71-list > *:nth-child(6n) { margin-right: 0 }
.tpl-block-71 .tpl-block-71-list > *:nth-child(6n+1) { margin-left: 0 }
.tpl-block-71 .tpl-block-71-list > *:nth-child(-n+6) { margin-top: 0; }
}
/* </block71> */
