extends ../assets/pug/_base
block vars
  - var lang = 'ru'
  - var title = 'My Suit | Каталог'
  - var description = ''
  - var keywords = ''
  //- Open Graph:
  - var type = 'website'
  - var imageOG = ''
  //- Preload fonts
  - var fonts = ['Manrope-Medium', 'Manrope-Regular', 'Manrope-Light' ]

include pug/_breadcrumbs
block content
  .wrapper
    include pug/_header
    main.page.page_catalog
      +breadcrumbs([
        {
          name: "Главная",
          path: "/"
        },
        {
          name: "Каталог",
          path: "catalog.html"
        }
      ])
      .page__container.page__container_catalog
        aside.aside-catalog
          ul.aside-catalog__list 
            li.aside-catalog__item 
              a.aside-catalog__link(href="#") Все
            li.aside-catalog__item 
              a.aside-catalog__link(href="#") Новинки
            li.aside-catalog__item 
              a.aside-catalog__link(href="#") Купальники
            li.aside-catalog__item 
              a.aside-catalog__link(href="#") Костюмы из щёлка 
            li.aside-catalog__item 
              a.aside-catalog__link(href="#") Костюмы из трикотажа 
            li.aside-catalog__item 
              a.aside-catalog__link(href="#") Костюмы изо льна 
            li.aside-catalog__item 
              a.aside-catalog__link(href="#") Костюмы из футера 
            li.aside-catalog__item 
              a.aside-catalog__link(href="#") Костюмы классика
            li.aside-catalog__item 
              a.aside-catalog__link(href="#") Костюмы классика
            li.aside-catalog__item 
              a.aside-catalog__link(href="#") Комплекты
            li.aside-catalog__item 
              a.aside-catalog__link(href="#") Комплекты 
            li.aside-catalog__item 
              a.aside-catalog__link(href="#") Платья
            li.aside-catalog__item 
              a.aside-catalog__link(href="#") Юбки
            li.aside-catalog__item 
              a.aside-catalog__link(href="#") Рубашки
            li.aside-catalog__item 
              a.aside-catalog__link(href="#") Шорты
            li.aside-catalog__item 
              a.aside-catalog__link(href="#") Топы / Корсеты
            li.aside-catalog__item 
              a.aside-catalog__link(href="#") Верхняя одежда
        .catalog
          .catalog__inner
            h1.catalog__title Новинки
            .catalog__select 
              select.select(name='')
                option.select__option(value='' selected) Сортировать по размеру
                option.select__option(value='1') 42
                option.select__option(value='2') 44
                option.select__option(value='3') 46
                option.select__option(value='4') 48
          .catalog__body 
            article.product-card.catalog__product-card
              .product-card__actions
                .product-card__action.product-card__action_discount
                  +icon('discount').i-discount(aria-label="Скидка")
              +image('img/goods/1.jpg', 'alt').product-card__img.lazy
              .product-card__info
                a.product-card__title(href="#") Шёлковый костюм в красном цвете Шёлковый костюм
                .product-card__prices
                  .product-card__price_current
                    span 13900
                    |  RUB
                  s.product-card__price_old
                    span 15900
                    |  RUB
            article.product-card.catalog__product-card
              .product-card__actions
                .product-card__action.product-card__action_discount
                  +icon('discount').i-discount(aria-label="Скидка")
              +image('img/goods/2.jpg', 'alt').product-card__img.lazy
              .product-card__info
                a.product-card__title(href="#") Шёлковый костюм в красном цвете
                .product-card__prices
                  .product-card__price_current
                    span 13900
                    |  RUB
                  s.product-card__price_old
                    span 15900
                    |  RUB
            article.product-card.catalog__product-card
              .product-card__actions
                .product-card__action.product-card__action_discount
                  +icon('discount').i-discount(aria-label="Скидка")
              +image('img/goods/3.jpg', 'alt').product-card__img.lazy
              .product-card__info
                a.product-card__title(href="#") Шёлковый костюм в красном цвете
                .product-card__prices
                  .product-card__price_current
                    span 13900
                    |  RUB
                  s.product-card__price_old
                    span 15900
                    |  RUB
            article.product-card.catalog__product-card
              .product-card__actions
                .product-card__action.product-card__action_discount
                  +icon('discount').i-discount(aria-label="Скидка")
              +image('img/goods/4.jpg', 'alt').product-card__img.lazy
              .product-card__info
                a.product-card__title(href="#") Шёлковый костюм в красном цвете
                .product-card__prices
                  .product-card__price_current
                    span 13900
                    |  RUB
                  s.product-card__price_old
                    span 15900
                    |  RUB
            article.product-card.catalog__product-card
              .product-card__actions
                .product-card__action.product-card__action_discount
                  +icon('discount').i-discount(aria-label="Скидка")
              +image('img/goods/6.jpg', 'alt').product-card__img.lazy
              .product-card__info
                a.product-card__title(href="#") Шёлковый костюм в красном цвете
                .product-card__prices
                  .product-card__price_current
                    span 13900
                    |  RUB
                  s.product-card__price_old
                    span 15900
                    |  RUB
            article.product-card.catalog__product-card
              .product-card__actions
                .product-card__action.product-card__action_discount
                  +icon('discount').i-discount(aria-label="Скидка")
              +image('img/goods/7.jpg', 'alt').product-card__img.lazy
              .product-card__info
                a.product-card__title(href="#") Шёлковый костюм в красном цвете
                .product-card__prices
                  .product-card__price_current
                    span 13900
                    |  RUB
                  s.product-card__price_old
                    span 15900
                    |  RUB
            article.product-card.catalog__product-card
              .product-card__actions
                .product-card__action.product-card__action_discount
                  +icon('discount').i-discount(aria-label="Скидка")
              +image('img/goods/8.jpg', 'alt').product-card__img.lazy
              .product-card__info
                a.product-card__title(href="#") Шёлковый костюм в красном цвете
                .product-card__prices
                  .product-card__price_current
                    span 13900
                    |  RUB
                  s.product-card__price_old
                    span 15900
                    |  RUB
    include pug/_footer