extends ../assets/pug/_base
block vars
  - var lang = 'ru'
  - var title = 'My Suit | Главная'
  - var description = ''
  - var keywords = ''
  //- Open Graph:
  - var type = 'website'
  - var imageOG = ''
  //- Preload fonts
  - var fonts = ['Manrope-Medium', 'Manrope-Regular', 'Manrope-Light' ]

block content
  .wrapper
    include pug/_header
    main.page.page_home
      section.page__welcome.welcome
        include pug/welcome
      section.page__current-models.current-models
        include pug/current-models
      section.page__about-brand.about-brand
        include pug/about-brand
    include pug/_footer