extends ../assets/pug/_base
block vars
  - var lang = 'ru'
  - var title = 'My Suit | Наименование товара'
  - var description = ''
  - var keywords = ''
  //- Open Graph:
  - var type = 'website'
  - var imageOG = ''
  //- Preload fonts
  - var fonts = ['Manrope-Medium', 'Manrope-Regular', 'Manrope-Light' ]

include pug/_breadcrumbs
block content
  .wrapper
    include pug/_header
    main.page.page_product
      +breadcrumbs([
        {
          name: "Главная",
          path: "home.html"
        },
        {
          name: "Каталог",
          path: "catalog.html"
        },
        {
          name: "Наименование товара",
          path: "product.html"
        }
      ])
      .product
        .product__container
          .product__main.main-product 
            .main-product__images.images-product
              .images-product__thumbs.thumbs-images
                .thumbs-images__swiper
                  .thumbs-images__slide-ibg
                    +image('img/goods/1.jpg', 'alt').lazy
                  .thumbs-images__slide-ibg
                    +image('img/goods/1.jpg', 'alt').lazy
                  .thumbs-images__slide-ibg
                    +image('img/goods/1.jpg', 'alt').lazy
                  .thumbs-images__slide-ibg
                    +image('img/goods/1.jpg', 'alt').lazy
              .images-product__slider
                .images-product__swiper
                  .images-product__slide-ibg
                    +image('img/goods/1.jpg', 'alt').swiper-lazy
                  .images-product__slide-ibg
                    +image('img/goods/1.jpg', 'alt').swiper-lazy
                  .images-product__slide-ibg
                    +image('img/goods/1.jpg', 'alt').swiper-lazy
                  .images-product__slide-ibg
                    +image('img/goods/1.jpg', 'alt').swiper-lazy
              p.images-product__description Мы любим это платье за лаконизм в длине и дизайне. Приталенный силуэт, минимум деталей.  Ничего лишнего - именно это и привлекает внимание
            .main-product__info.info-product
              .info-product__block-title
                h1.info-product__title Шёлковый костюм в красном цвете
                button.info-product__btn-favourites(aria-label='Добавить в избранное')
                  +icon('favourites').i-favourites(style='stroke: currentColor;' aria-hidden)
              .info-product__block-prices 
                span.info-product__price 13900 RUB
                s.info-product__price-old 15900 RUB
              .info-product__block-sizes
                .info-product__size-inner 
                  .info-product__title-size Размер
                  a.info-product__choose-size(href="#" data-popup='#choose-size') Подобрать размер
                ul.info-product__size-list 
                  li.info-product__size-item 
                    button.info-product__btn-size.info-product__btn-size_active.btn.btn_white 40
                  li.info-product__size-item 
                    button.info-product__btn-size.btn.btn_white 42
                  li.info-product__size-item 
                    button.info-product__btn-size.btn.btn_white 44
              .info-product__block-colors 
                .info-product__title-color Цвет
                ul.info-product__color-list 
                  li.info-product__color-item 
                    a.info-product__link-color(href="#" style="background-color: #F4DEDE;")
                  li.info-product__color-item 
                    a.info-product__link-color(href="#" style="background-color: #AD3A9B;")
              .info-product__block-btns 
                button.info-product__btn.info-product__btn_buy.btn.btn_white Быстрая покупка
                button.info-product__btn.info-product__btn_cart.btn.btn_black Добавить в корзину
              .info-product__spollers.spollers-product(data-spollers)
                .spollers-product__spoller
                  button.spollers-product__title(data-spoller)
                    | Состав
                    +icon('plus').i-plus(aria-hidden)
                  .spollers-product__content
                .spollers-product__spoller
                  button.spollers-product__title(data-spoller)
                    | Рекомендации по уходу
                    +icon('plus').i-plus(aria-hidden)
                  .spollers-product__content
                .spollers-product__spoller
                  button.spollers-product__title(data-spoller)
                    | Параметры модели
                    +icon('plus').i-plus(aria-hidden)
                  .spollers-product__content
      section.page__similar-products.similar-products
        .current-models__container
          h2.current-models__title Похожие товары
          .current-models__slider
            .current-models__swiper
              article.current-models__slide.product-card
                .product-card__actions
                  .product-card__action.product-card__action_discount
                    +icon('discount').i-discount(aria-label="Скидка")
                +image('img/goods/4.jpg', 'alt').product-card__img.swiper-lazy
                .product-card__info
                  a.product-card__title(href="#") Шёлковый костюм в красном цвете
                  .product-card__prices
                    .product-card__price_current
                      span 13900
                      |  RUB
                    s.product-card__price_old
                      span 15900
                      |  RUB
              article.current-models__slide.product-card
                +image('img/goods/2.jpg', 'alt').product-card__img.swiper-lazy
                .product-card__info
                  a.product-card__title(href="#") Шёлковый костюм в красном цвете
                  .product-card__prices
                    .product-card__price_current
                      span 13900
                      |  RUB
              article.current-models__slide.product-card
                +image('img/goods/3.jpg', 'alt').product-card__img.swiper-lazy
                .product-card__info
                  a.product-card__title(href="#") Шёлковый костюм в красном цвете
                  .product-card__prices
                    .product-card__price_current
                      span 13900
                      |  RUB
              article.current-models__slide.product-card
                +image('img/goods/1.jpg', 'alt').product-card__img.swiper-lazy
                .product-card__info
                  a.product-card__title(href="#") Шёлковый костюм в красном цвете
                  .product-card__prices
                    .product-card__price_current
                      span 13900
                      |  RUB
            button.current-models__button-prev
              +icon('arrow-long-right').i-arrow-long-left
            button.current-models__button-next
              +icon('arrow-long-right').i-arrow-long-right
            .current-models__scrollbar.swiper-scrollbar
      section.page__history-products.history-products
        .current-models__container
          h2.current-models__title Недавно смотрели
          .current-models__slider
            .current-models__swiper
              article.current-models__slide.product-card
                .product-card__actions
                  .product-card__action.product-card__action_discount
                    +icon('discount').i-discount(aria-label="Скидка")
                +image('img/goods/4.jpg', 'alt').product-card__img.swiper-lazy
                .product-card__info
                  a.product-card__title(href="#") Шёлковый костюм в красном цвете
                  .product-card__prices
                    .product-card__price_current
                      span 13900
                      |  RUB
                    s.product-card__price_old
                      span 15900
                      |  RUB
            button.current-models__button-prev
              +icon('arrow-long-right').i-arrow-long-left
            button.current-models__button-next
              +icon('arrow-long-right').i-arrow-long-right
            .current-models__scrollbar.swiper-scrollbar
    include pug/_footer
  include pug/popups/choose-size