extends ../assets/pug/_base
block vars
  - var lang = 'ru'
  - var title = 'My Suit | Наименование товара'
  - var description = ''
  - var keywords = ''
  //- Open Graph:
  - var type = 'website'
  - var imageOG = ''
  //- Preload fonts
  - var fonts = ['Manrope-Medium', 'Manrope-Regular', 'Manrope-Light' ]

include pug/_breadcrumbs
block content
  .wrapper
    include pug/_header
    main.page.page_product
      +breadcrumbs([
        {
          name: "Главная",
          path: "home.html"
        },
        {
          name: "Каталог",
          path: "catalog.html"
        },
        {
          name: "Наименование товара",
          path: "product.html"
        }
      ])
    include pug/_footer