.aside-catalog {
  margin-top: rem(60);

  @include media-breakpoint-down(tablet) {
    font-size: rem(16);
    margin-top: rem(40);
    margin-bottom: rem(20);
  }

  &__button {
    @include media-breakpoint-up(tablet) {
      display: none;
    }

    @include media-breakpoint-down(tablet) {
      &._spoller-active {
        svg {
          transform: rotate(180deg);
        }
      }

      svg {
        width: rem(10);
        height: rem(8);
        margin-left: rem(12);
      }
    }
  }

  &__list {
    @include media-breakpoint-down(tablet) {
      margin-top: rem(20);
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__link {
    color: var(--color-dark-gray);

    @media (any-hover: hover) {
      transition: color .3s;

      &:hover {
        color: var(--color-black);
      }
    }

    &_active {
      color: var(--color-black);
    }
  }
}