.breadcrumbs {
  font-size: rem(11);
  color: var(--color-dark-gray);
  margin-top: rem(20);

  &__container {}

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      padding-right: rem(10);

      &::after {
        content: '/';
        margin-left: rem(10);
      }
    }
  }

  &__link {

    @media (any-hover: hover) {
      transition: color .3s;

      &:hover {
        color: var(--color-black);
      }
    }
  }
}