.current-models {
  margin-bottom: rem(100);

  // .current-models__container
  &__container {}

  // .current-models__title
  &__title {
    @include adaptiveValue("font-size", 25, 20);
    @include adaptiveValue("margin-bottom", -10, -15);
  }

  // .current-models__slider
  &__slider {
    position: relative;
    padding-top: rem(50) !important;
    padding-bottom: rem(40) !important;

    @include media-breakpoint-down(tablet) {
      padding-top: rem(35) !important;
      padding-bottom: rem(35) !important;
    }
  }

  // .current-models__swiper
  &__swiper {
    display: flex;
  }

  // .current-models__slide
  &__slide {
    width: auto;

    @include media-breakpoint-down(mobile) {
      width: rem(192);
    }

  }

  // .current-models__button-prev
  &__button-prev {
    @include media-breakpoint-up(tablet) {
      left: 0;
    }

    @include media-breakpoint-down(tablet) {
      @include adaptiveValue("right", 65, 50, 768, 320, 1);
    }
  }

  // .current-models__button-next
  &__button-next {
    right: 0;
  }

  &__button-prev,
  &__button-next {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(-13.5);

    @include media-breakpoint-up(tablet) {
      bottom: 0;
    }

    @include media-breakpoint-down(tablet) {
      top: rem(-13);
    }

    @media (any-hover: hover) {
      transition: color .3s;

      &:hover {
        color: var(--color-dark-gray);
      }
    }

    &.swiper-button-disabled {
      color: var(--color-dark-gray);
      cursor: not-allowed;
    }

    svg {
      width: rem(40);
      height: rem(40);

    }
  }

  // .current-models__pagination
  &__scrollbar {
    top: unset !important;
    bottom: rem(5) !important;
    height: rem(2) !important;
    background-color: var(--color-white-chinese) !important;
    border-radius: 0 !important;

    @include media-breakpoint-up(tablet) {
      left: calc(50% - 44%) !important;
      width: percent(980, $maxWidthContainer) !important;
    }

    & div {
      background-color: #5E5E5E !important;
      border-radius: 0 !important;
    }
  }

}

@import 'product-card'