.page {
  &_delivery {}
}

.delivery {
  &__container {
    @include adaptiveValue("margin-top", 60, 30);
    @include adaptiveValue("margin-bottom", 90, 40);
  }

  &__title {
    @include adaptiveValue("font-size", 20, 18);

    &-2 {
      margin-bottom: rem(40);
    }
  }

  &__wrapper {
    @include media-breakpoint-up(tablet) {
      display: grid;
      grid-template-columns: rem(170) 1fr;
      column-gap: rem(20);
    }

    margin-top: rem(40);
  }

  &__nav {
    @include media-breakpoint-up(tablet) {
      display: flex;
      flex-direction: column;
      gap: rem(20);
    }

    @include media-breakpoint-down(tablet) {
      margin-bottom: rem(60);
    }
  }

  &__tab-title {
    text-align: start;
    line-height: 1;
    color: var(--color-dark-gray);

    @include media-breakpoint-down(tablet) {
      &:not(:last-child) {
        margin-right: rem(35);
      }
    }

    &._tab-active {
      color: var(--color-black);
    }
  }

  &__content {}

  &__tab-body {}

  &__spoller-btn {
    text-align: start;
    @include adaptiveValue("font-size", 20, 18);
    padding: rem(40) 0;

    @include media-breakpoint-down(tablet) {
      padding: rem(30) 0;
    }

    svg {
      width: rem(20);
      height: rem(20);
    }
  }

  &__spoller-content {
    margin-bottom: rem(30);
  }

  &__text {
    line-height: math.div(18, 13);

    &_gray {
      color: var(--color-gray-spanish);
    }
  }

  &__spoller-title,
  &__spoller-block {
    margin-bottom: rem(15);
  }

  &__btn {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    max-width: rem(255);
    padding: rem(13.5) 0;
    @include adaptiveValue("margin-top", 80, 40);
  }

  &__tab-body-inner {
    margin-bottom: rem(30);
  }

  &__tab-body-title {
    margin-bottom: rem(20);
  }

  &__list {}

  &__item {
    position: relative;
    color: var(--color-gray-spanish);
    margin-bottom: rem(20);
    padding-left: rem(20);

    &::before {
      position: absolute;
      top: calc(50% - rem(2));
      left: rem(8);
      display: block;
      content: '';
      width: rem(4);
      height: rem(4);
      background-color: #939393;
      border-radius: 50%;
    }
  }
}