.goods {
  display: grid;
  grid-template-columns: repeat(auto-fit, rem(350));
  gap: rem(30);

  @include media-breakpoint-down(tablet-xl) {
    grid-template-columns: repeat(auto-fit, rem(300));
  }

  @include media-breakpoint-down(tablet) {
    column-gap: rem(10);
    row-gap: rem(20);
  }

  @include media-breakpoint-down(mobile) {
    grid-template-columns: repeat(2, rem(167));
  }

  @media (max-width: em(374.98)) {
    grid-template-columns: unset;
    justify-items: center;
  }

  &__product-card {
    .product-card__img {
      height: rem(380);

      @include media-breakpoint-down(tablet-xl) {
        height: rem(340);
      }

      @include media-breakpoint-down(mobile) {
        height: rem(216);
      }
    }

    @media (max-width: em(374.98)) {
      width: rem(200);
    }
  }
}