.goods {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
  gap: rem(30);

  @include media-breakpoint-down(tablet-xl) {
    grid-template-columns: repeat(3, minmax(rem(167), 1fr));
  }

  @include media-breakpoint-down(tablet) {
    grid-template-columns: repeat(2, minmax(rem(167), 1fr));
    column-gap: rem(10);
    row-gap: rem(20);
  }

  @media (max-width: em(374.98)) {
    grid-template-columns: unset;
    justify-items: center;
  }

  &__product-card {
    .product-card__img {
      @include adaptiveValue("height", 380, 216);
    }

    @media (max-width: em(374.98)) {
      width: rem(200);
    }
  }
}