.header {

  // .header__container
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: rem(28);
    padding-bottom: rem(22);
    border-bottom: 1px solid var(--color-white-chinese);
  }

  // .header__menu
  &__menu {}

  // .header__logo
  &__logo {
    display: flex;
    flex: 1 0 auto;

    @include media-breakpoint-up(tablet) {
      justify-content: center;
      padding-right: rem(10);
      padding-left: rem(10);
    }

    // @include adaptiveValue("margin-left", 140, 0);
  }

  // .header__menu-icons
  &__menu-icons {}
}

.menu {
  @include media-breakpoint-down(tablet) {
    display: none;
  }

  // .menu__list
  &__list {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 40, 15, $maxWidthContainer, 767, 2);
  }

  // .menu__item
  &__item {}

  // .menu__link
  &__link {
    @include media-breakpoint-down(tablet) {
      display: none;
    }

    @media (any-hover: hover) {
      transition: color .3s;

      &:hover {
        color: var(--color-gray);
      }
    }

  }

  &__submenu {}

  &__button {
    display: flex;
    align-items: center;

    &.submenu-active {
      color: var(--color-gray);
    }

    svg {
      width: rem(8);
      height: rem(5);
      margin-left: rem(5);
    }
  }
}

.submenu {
  position: absolute;
  top: rem(95);
  left: 0;
  display: flex;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  padding-top: rem(0);
  padding-right: rem(15);
  padding-bottom: rem(40);
  padding-left: rem(15);
  transition: padding-top .5s, opacity .3s, visibility .3s;
  border-bottom: 1px solid var(--color-white-chinese);

  &.submenu-open {
    opacity: 1;
    visibility: visible;
    padding-top: rem(28);
  }

  &__list {
    display: flex;
    flex: 0 1 890px;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: rem(10);
    column-gap: rem(70);
    @include adaptiveValue("max-height", 150, 400);
  }

  &__item {}

  &__link {
    display: block;
    padding: rem(5) rem(0) rem(5) rem(0);

    @media (any-hover: hover) {
      transition: color .3s;

      &:hover {
        color: var(--color-gray);
      }
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;

    @media (any-hover: hover) {
      transition: color .3s;

      &:hover {
        color: var(--color-gray);
      }
    }

    svg {
      width: rem(60);
      height: rem(60);
    }
  }
}

.logo {
  &__link {
    & img {
      width: rem(131);
      height: rem(44);
      object-fit: contain;

      @include media-breakpoint-down(tablet) {
        width: rem(92);
        height: rem(32);
      }
    }
  }
}

.menu-icons {
  display: flex;
  align-items: center;
  color: var(--color-black-eerie);
  @include adaptiveValue("margin-left", 40, 15, $maxWidthContainer, 767, 2);
  @include adaptiveValue("gap", 30, 20);

  // .menu-icons__item
  &__item {
    display: flex;
    align-items: center;

    @media (any-hover: hover) {
      transition: color .3s;

      &:hover {
        color: var(--color-gray);
      }
    }

    svg {
      width: rem(20);
      height: rem(20);
    }
  }
}

.i-search {}

.i-heart {}

.i-profile {}

.i-cart {}

.i-arrow-dropdown {}

// Burger
.burger {
  $burger-width: rem(23);
  $burger-height: rem(13);
  $burger-line-height: rem(1);

  display: none;

  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: $burger-width;
    height: $burger-height;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: transform 0.3s ease 0s,
        width .3s;
      right: 0;
      position: absolute;
      height: $burger-line-height;
      background-color: #000;
    }

    span {
      width: rem(19);
    }

    &::before {
      width: 100%;
      top: 0;
    }

    &::after {
      width: rem(13);
      bottom: 0;
    }

    span {
      top: calc(50% - math.div($burger-line-height, 2));
    }

    .menu-open & {
      span {
        transform: scale(0);
      }

      &::before,
      &::after {
        width: 100%;
      }

      &::before {
        top: calc(50% - math.div($burger-line-height, 2));
        transform: rotate(-45deg);
      }

      &::after {
        top: calc(50% - math.div($burger-line-height, 2));
        transform: rotate(45deg);
      }
    }
  }
}