.header {
  // .header__container
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: rem(28);
    padding-bottom: rem(22);
    border-bottom: 1px solid var(--color-white-chinese);
  }
  // .header__menu
  &__menu {
  }
  // .header__logo
  &__logo {
    display: flex;
    flex: 1 1 rem(131);
    justify-content: center;
    padding-right: rem(10);
    padding-left: rem(10);
    // @include adaptiveValue("margin-left", 140, 0);
  }
  // .header__menu-icons
  &__menu-icons {
  }
}
.menu {
  // .menu__list
  &__list {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 40, 15);
  }
  // .menu__item
  &__item {
  }
  // .menu__link
  &__link {
  }
  &__submenu{}
  &__button{
    display: flex;
    align-items: center;
    svg{
      width: rem(8);
      height: rem(5);
      margin-left: rem(5);
    }
  }
}
.submenu{
  position: absolute;
  top: rem(100);
  left: 0;
  display: flex;
  width: 100%;
  padding-top: rem(28);
  padding-right: rem(10);
  padding-bottom: rem(40);
  padding-left: rem(10);
  border-bottom: 1px solid var(--color-white-chinese);
  &__list{
    display: flex;
    flex: 0 1 890px;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: rem(10);
    column-gap: rem(70);
    @include adaptiveValue("max-height", 150, 400);
  }
  &__item{
    
  }
  &__link{
    display: block;
    padding: rem(5) rem(0) rem(5) rem(0);
  }
  &__close{
    position: absolute;
    top: 0;
    right: 0;
    svg{
      width: rem(60);
      height: rem(60);
    }
  }
}
.logo {
}
.menu-icons {
  display: flex;
  align-items: center;
  color: var(--color-black-eerie);
  @include adaptiveValue("margin-left", 40, 15);
  @include adaptiveValue("gap", 30, 15);
  // .menu-icons__item
  &__item {
    display: flex;
    align-items: center;
    svg{
      width: rem(24);
      height: rem(24);
    }
  }
}
.i-search {
}
.i-heart {
}
.i-profile {
}
.i-cart {
}
.i-arrow-dropdown{
}
// Burger

/*
.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
*/
