.product-card {
  position: relative;

  // .product-card__actions
  &__actions {
    position: absolute;
    top: rem(15);
    right: rem(15);
    display: flex;
    gap: rem(15);

    svg {
      width: percent(20, 45);
      height: percent(20, 45);
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiveValue("width", 45, 30);
    @include adaptiveValue("height", 45, 30);
    border-radius: 50%;
    background-color: var(--color-white);

    &_discount {}
  }

  &__img {
    width: 100%;
    margin-bottom: rem(15);
  }

  // .product-card__info
  &__info {
    max-width: 80%;

    @include media-breakpoint-down(tablet) {
      max-width: 65%;
    }
  }

  // .product-card__title
  &__title {
    display: block;
    margin-bottom: rem(15);
    line-height: math.div(18, 13);

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      display: block;
    }
  }

  // .product-card__prices
  &__prices {
    display: flex;
    align-items: center;
  }

  // .product-card__price
  &__price {

    // .product-card__price_current
    &_current {
      color: var(--color-gray-spanish);
    }

    // .product-card__price_old
    &_old {
      font-size: rem(12);
      color: var(--color-gray);
      margin-left: rem(12);
    }
  }
}