.result-search {
  &__container {
    @include adaptiveValue("margin-top", 60, 40);
    @include adaptiveValue("margin-bottom", 90, 60);
  }

  &__footer {
    position: relative;
    display: flex;
    margin-top: rem(50);
  }

  &__title {
    @include adaptiveValue("font-size", 20, 18);
    margin-bottom: rem(30);
  }

  &__inner {
    @include media-breakpoint-up(tablet) {
      display: flex;
      align-items: center;
      gap: rem(30);
    }

    @include adaptiveValue("margin-bottom", 70, 25);
  }

  &__find-title {
    color: #343131;
    margin-bottom: rem(15);
  }

  &__find {
    @include media-breakpoint-up(tablet) {
      flex: 1 1 auto;
    }

    @include media-breakpoint-down(tablet) {
      margin-bottom: rem(15);
    }
  }

  &__search {
    position: relative;
  }

  &__button {
    position: absolute;
    top: rem(11);
    left: rem(15);

    svg {
      width: rem(20);
      height: rem(20);
    }
  }

  &__input {
    width: 100%;
    padding: rem(10) rem(30) rem(8) rem(55);
    transition: border .3s;
    border: 1px solid var(--color-white-chinese);
    border-radius: 2px;

    &.focus-visible {
      outline: none;
      border: 1px solid var(--color-black);
    }
  }
}